<div *ngIf="mode!='none'">
    <div id="content" [@movePanel]='state' class="container sidebar">

        <div (click)="toggleMenu()" class="menuButton">
            <div class="menuButton-text">Details</div>
        </div>


        <div class="contents">

            <div class="metrics-container">
                <div class="width-ctrl">
                    <br>
                    Metric Mode: {{mode}}
                    <br>

                    <!-- add something to check scenario for specific areas rather than currently selected one -->
                    <!-- <h3>Selected Scenario: {{scenario}}</h3> -->

                    Original Recharge: {{original}} {{units}}
                    <br>
                    Current Recharge: {{current}} {{units}}
                    <br>
                    Number of Cells (75m<sup>2</sup>): {{cells}}
                    <br>
                    Difference: {{diff}}, Percent Change: {{pchange}}%
                </div>
                <div #chart> </div>
            </div>
            
            <!-- <div  class="chart-container">
                    <div #chart> </div>
            </div> -->

            </div>

    </div>
</div>