
.panel {
  top: 150px;
  left: 100px; 
  position: absolute;
  z-index: 0;
  border-radius: 1%;
}

.map-container {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: calc(100% - 30px);
  padding: 10px;
  border-radius: 1%;
}

.report-container {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: calc(100% - 30px);
  padding: 10px;
  border-radius: 1%;
  overflow: scroll;
  
}


.panel-default>.panel-heading-custom {
  background-color: rgba(108, 138, 164, 1);
  color: #fff;
  height: 30px;
  padding: 5px;
}

.panel-default>.panel-heading-custom:hover {
  cursor: pointer;
}

.download-button {
  position: absolute;
  top: 35px;
  right: 25px;
  z-index: 100;
}

.navbarButton {
  height: 20px; 
  width: 20px;
  float: right;
  margin-left: 3px;
  border-radius: 10%;
  border-color: transparent;
}

.glyphicon {
  font-size: 12px;
  transform: translate(-30%, -25%);
}

.glyphicon-remove {
  color: #F37E7E;
}

.glyphicon-plus {
  color: rgba(97, 97, 97, 0.85);
}

.glyphicon-minus {
  color: rgba(97, 97, 97, 0.35);
}

.allowPointerEvents{
  pointer-events: all;
}

.btn-resize{
  position: absolute;
  top: 65%;
  left:85%;
  z-index: 99999;
}

.graphs {
  top: 2000px;
  width: 400px;
}

.drag-bottom {
  position: absolute;
  width: calc(100% - 7px);
  height: 15px;
  top: calc(100% - 15px);
}

.drag-bottom:hover {
  cursor: ns-resize;
}

.drag-right {
  position: absolute;
  width: 15px;
  height: calc(100% - 45px);
  left: calc(100% - 7px);
}

.drag-right:hover {
  cursor: ew-resize;
}

.drag-corner {
  position: absolute;
  width: 15px;
  height: 15px;
  top: calc(100% - 15px);
  left: calc(100% - 15px);
}

.drag-corner:hover {
  cursor: nwse-resize;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 15px;
}