

<div *ngIf="windowPanel.bodyType == 'map'; else reportBlock">
  <div #panelDiv class="panel panel-default allowPointerEvents">
    <!-- <div class="scroll-better"></div> -->
    <div #dragBar class="panel-heading panel-heading-custom">
      {{ windowPanel.title }} - {{ windowPanel.tag }}
      <button class="navbarButton"s (click)="removeWindow()">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <!-- <button class="navbarButton" (click)="incAlpha()">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
      <button class="navbarButton" (click)="decAlpha()">
        <span class="glyphicon glyphicon-minus"></span>
      </button>
      <button class="navbarButton" (click)="maximize()">
        <span #glyphSize class="glyphicon" [ngClass]="{'glyphicon-resize-full': !maximized, 'glyphicon-resize-small': maximized }"></span>
      </button> -->
    </div>

    <div class="map-container">

      <app-map #map></app-map>

    </div>

    <app-sidebar-panel></app-sidebar-panel>
    <app-bottombar-panel></app-bottombar-panel>
    <app-sidebar-controls #controls></app-sidebar-controls>
    <div class="drag-bottom" #resizeBot></div>
    <div class="drag-right" #resizeRight></div>
    <div class="drag-corner" #resizeCorner></div>

  </div>
</div>

<ng-template #reportBlock>
  <div #panelDiv class="panel panel-default allowPointerEvents">

    <div #dragBar class="panel-heading panel-heading-custom">
      {{ windowPanel.title }} - {{ windowPanel.tag }}
      <button class="navbarButton" (click)="removeWindow()">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <!-- <button class="navbarButton" (click)="incAlpha()">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
      <button class="navbarButton" (click)="decAlpha()">
        <span class="glyphicon glyphicon-minus"></span>
      </button>
      <button class="navbarButton" (click)="maximize()">
        <span #glyphSize class="glyphicon" [ngClass]="{'glyphicon-resize-full': !maximized, 'glyphicon-resize-small': maximized }"></span>
      </button> -->
    </div>

    <div class="download-button">
      <button type="button" class="btn btn-primary btn-responsive" (click)="download('PDF')">Download as PDF</button>
    </div>

    <div class="report-container">
      
      <h1>Report for Map {{ windowPanel.tag }}</h1>
      <table border="0" class="no-border header-table">
        <tr class="no-border">
          <td class="no-border-cell-title"><h2>Aquifer Systems</h2></td>
          <td class="no-border-cell-description">Hydrological units established by the Hawaii State Comission on Water Resource Management to manage groundwater resources</td>
        </tr>
      </table>
      <table>
        <tr>
          <th>Name</th>
          <th>Area <br> (square miles)</th>
          <th>
            <div style="text-align: center;">Total Recharge <br> (Million Gallons Per Day)</div>
            <hr>
            <table border="0" class="no-border nested-table">
              <tr class="no-border">
                <td class="no-border-cell-internal">Baseline</td>
                <td class="no-border-cell-internal">This Analysis</td>
              </tr>
            </table>
          </th>
          <th>
            <div style="text-align: center;">Average Recharge <br> (Inches Per Year)</div>
            <hr>
            <table border="0" class="no-border nested-table">
              <tr class="no-border">
                <td class="no-border-cell-internal">Baseline</td>
                <td class="no-border-cell-internal">This Analysis</td>
              </tr>
            </table>
          </th>
          <th>
            <div style="text-align: center;">Volumetric Difference</div>
            <hr>
            <table border="0" class="no-border nested-table">
              <tr class="no-border">
                <td class="no-border-cell-internal">Million Gallons Per Day</td>
                <td class="no-border-cell-internal">Percent Change</td>
              </tr>
            </table>
          </th>
        </tr>

        <tr *ngFor="let aquifer of windowPanel.data.aquifers">
          <td>{{aquifer.name}}</td>
          <td>{{aquifer.roundedMetrics.area}}</td>
          <td>
            <table border="0" class="no-border nested-table">
              <tr class="no-border">
                <td class="no-border-cell-internal">{{aquifer.roundedMetrics.MGPD.original}}</td>
                <td class="no-border-cell-internal">{{aquifer.roundedMetrics.MGPD.current}}</td>
              </tr>
            </table>
          </td>
          <td>
            <table border="0" class="no-border nested-table">
              <tr class="no-border">
                <td class="no-border-cell-internal">{{aquifer.roundedMetrics.IPY.original}}</td>
                <td class="no-border-cell-internal">{{aquifer.roundedMetrics.IPY.current}}</td>
              </tr>
            </table>
          </td>
          <td>
            <table border="0" class="no-border nested-table">
              <tr class="no-border">
                <td class="no-border-cell-internal">{{aquifer.roundedMetrics.MGPD.diff}}</td>
                <td class="no-border-cell-internal">{{aquifer.roundedMetrics.MGPD.pchange}}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <br>

      <div #aquiferGraph></div>

      <br>
      <table border="0" class="no-border">
        <tr class="no-border">
          <td class="no-border-cell-title"><h2>User Defined Areas</h2></td>
          <td class="no-border-cell-description">Areas of land cover change designated by the user for this analysis</td>
        </tr>
      </table>
      <table>
        <tr>
          <th>Name</th>
          <th>Area <br> (square miles)</th>
          <th>
            <div style="text-align: center;">Total Recharge <br> (Million Gallons Per Day)</div>
            <hr>
            <table border="0" class="no-border nested-table">
              <tr class="no-border">
                <td class="no-border-cell-internal">Baseline</td>
                <td class="no-border-cell-internal">This Analysis</td>
              </tr>
            </table>
          </th>
          <th>
            <div style="text-align: center;">Average Recharge <br> (Inches Per Year)</div>
            <hr>
            <table border="0" class="no-border nested-table">
              <tr class="no-border">
                <td class="no-border-cell-internal">Baseline</td>
                <td class="no-border-cell-internal">This Analysis</td>
              </tr>
            </table>
          </th>
          <th>
            <div style="text-align: center;">Volumetric Difference</div>
            <hr>
            <table border="0" class="no-border nested-table">
              <tr class="no-border">
                <td class="no-border-cell-internal">Million Gallons Per Day</td>
                <td class="no-border-cell-internal">Percent Change</td>
              </tr>
            </table>
          </th>
        </tr>

        <tr *ngFor="let area of windowPanel.data.customAreas">
          <td>{{area.name}}</td>
          <td>{{area.roundedMetrics.area}}</td>
          <td>
            <table border="0" class="no-border nested-table">
              <tr class="no-border">
                <td class="no-border-cell-internal">{{area.roundedMetrics.MGPD.original}}</td>
                <td class="no-border-cell-internal">{{area.roundedMetrics.MGPD.current}}</td>
              </tr>
            </table>
          </td>
          <td>
            <table border="0" class="no-border nested-table">
              <tr class="no-border">
                <td class="no-border-cell-internal">{{area.roundedMetrics.IPY.original}}</td>
                <td class="no-border-cell-internal">{{area.roundedMetrics.IPY.current}}</td>
              </tr>
            </table>
          </td>
          <td>
            <table border="0" class="no-border nested-table">
              <tr class="no-border">
                <td class="no-border-cell-internal">{{area.roundedMetrics.MGPD.diff}}</td>
                <td class="no-border-cell-internal">{{area.roundedMetrics.MGPD.pchange}}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
        

      <br>

      <div #customGraph></div>

      <br>

      <h2>Summary</h2>
      <table>
        <tr>
          <th></th>
          <th>User Defined Areas</th>
          <th>Island</th>
        </tr>
        <tr>
          <th>Area Total (Square Miles)</th>
          <td>{{windowPanel.data.customAreasTotal.roundedMetrics.area}}</td>
          <td>{{windowPanel.data.total.roundedMetrics.area}}</td>
        </tr>
        <tr>
          <th>Total Recharge, Baseline (Million Gallons Per Day)</th>
          <td>{{windowPanel.data.customAreasTotal.roundedMetrics.MGPD.original}}</td>
          <td>{{windowPanel.data.total.roundedMetrics.MGPD.original}}</td>
        </tr>
        <tr>
          <th>Total Recharge, This Analysis (Million Gallons Per Day)</th>
          <td>{{windowPanel.data.customAreasTotal.roundedMetrics.MGPD.current}}</td>
          <td>{{windowPanel.data.total.roundedMetrics.MGPD.current}}</td>
        </tr>
        <tr>
          <th>Average Recharge, Baseline (Inches Per Year)</th>
          <td>{{windowPanel.data.customAreasTotal.roundedMetrics.IPY.original}}</td>
          <td>{{windowPanel.data.total.roundedMetrics.IPY.original}}</td>
        </tr>
        <tr>
          <th>Average Recharge, This Analysis (Inches Per Year)</th>
          <td>{{windowPanel.data.customAreasTotal.roundedMetrics.IPY.current}}</td>
          <td>{{windowPanel.data.total.roundedMetrics.IPY.current}}</td>
        </tr>
        <tr>
          <th>Volumetric Difference (Million Gallons Per Day)</th>
          <td>{{windowPanel.data.customAreasTotal.roundedMetrics.MGPD.diff}}</td>
          <td>{{windowPanel.data.total.roundedMetrics.MGPD.diff}}</td>
        </tr>
        <tr>
          <th>Volumetric Percent Change</th>
          <td>{{windowPanel.data.customAreasTotal.roundedMetrics.MGPD.pchange}}</td>
          <td>{{windowPanel.data.total.roundedMetrics.MGPD.pchange}}</td>
        </tr>

        <!-- <tr>
          <th>Original Recharge (in/y)</th>
          <th>Current Recharge (in/y)</th>
          <th>Original Recharge (Mgal/d)</th>
          <th>Current Recharge (Mgal/d)</th>
          <th>Number of Cells (75m<sup>2</sup>)</th>
          <th>Difference (Mgal/d)</th>
          <th>Percent Change</th>
        </tr>
        <tr>
          <td>{{windowPanel.data.customAreasTotal.roundedMetrics.IPY.original}}</td>
          <td>{{windowPanel.data.customAreasTotal.roundedMetrics.IPY.current}}</td>
          <td>{{windowPanel.data.customAreasTotal.roundedMetrics.MGPD.original}}</td>
          <td>{{windowPanel.data.customAreasTotal.roundedMetrics.MGPD.current}}</td>
          <td>{{windowPanel.data.customAreasTotal.roundedMetrics.area}}</td>
          <td>{{windowPanel.data.customAreasTotal.roundedMetrics.MGPD.difference}}</td>
          <td>{{windowPanel.data.customAreasTotal.roundedMetrics.MGPD.pchange}}</td>
        </tr> -->
      </table>

      <br>

      <div #customTotalGraph></div>

      <!-- <br>

      <h2>Map Total</h2>
      <table>
        <tr>
          <th>Original Recharge (in/y)</th>
          <th>Current Recharge (in/y)</th>
          <th>Original Recharge (Mgal/d)</th>
          <th>Current Recharge (Mgal/d)</th>
          <th>Number of Cells (75m<sup>2</sup>)</th>
          <th>Difference (Mgal/d)</th>
          <th>Percent Change</th>
        </tr>
        <tr>
          <td>{{windowPanel.data.total.roundedMetrics.IPY.original}}</td>
          <td>{{windowPanel.data.total.roundedMetrics.IPY.current}}</td>
          <td>{{windowPanel.data.total.roundedMetrics.MGPD.original}}</td>
          <td>{{windowPanel.data.total.roundedMetrics.MGPD.current}}</td>
          <td>{{windowPanel.data.total.roundedMetrics.area}}</td>
          <td>{{windowPanel.data.total.roundedMetrics.MGPD.difference}}</td>
          <td>{{windowPanel.data.total.roundedMetrics.MGPD.pchange}}</td>
        </tr> -->
      <!-- </table> -->
      
      <br>

      <div #fullGraph></div>

      <br>

    </div>

    
    <div class="drag-bottom" #resizeBot></div>
    <div class="drag-right" #resizeRight></div>
    <div class="drag-corner" #resizeCorner></div>
  
  </div>
</ng-template>
<div #phantomScrollLock class="phantom-scroll-lock"></div>
<div #phantomScrollSmooth class="phantom-scroll-smooth"></div>


