<div id="content" [@movePanel]='state' class="container sidebar">

    <div (click)="toggleMenu()" class="menuButton">
        <div class="menuButton-text">Details</div>
    </div>



    <div class="row">
        <div *ngIf="mode=='none'; else metrics">
            <h1>Selected Scenario: {{scenario}}</h1>
        </div>
        <ng-template #metrics>
            <h2>Metric Mode: {{mode}}</h2>
            <h2>Original Recharge: {{original}} {{units}}</h2>
            <h2>Current Recharge: {{current}} {{units}}</h2>
            <h2>Difference: {{diff}}, Percent Change: {{pchange}}%</h2>
        </ng-template>
    </div>

</div>