<div id="content" [@movePanel]='state' class="container sidebar">

    <div (click)="toggleMenu()" class="menuButton">
        <div class="menuButton-text">Details</div>
    </div>



    <div class="row">
        <div *ngIf="mode=='none'; else metrics">
            <h1>Selected Scenario: {{scenario}}</h1>
        </div>
        <ng-template #metrics>
            <h1>Metric Mode: {{mode}}</h1>
            <h1>Original Recharge: {{original}}</h1>
            <h1>Current Recharge: {{current}}</h1>
            <h1>Difference: {{diff}}, Percent Change: {{pchange}}%</h1>
        </ng-template>
    </div>

</div>