::ng-deep .mat-checkbox-inner-container {
  height: 20px!important;
  width: 20px!important;
}

.sidebar {
    position: absolute;
    top: 100%;
    left: 1%;
    z-index: -2000;
    background-color: rgba(255, 255, 255, 0.9);
    width: 98%;
    height: 245px;
    border-radius: 0px 0px 10px 10px;
    padding: 8px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  }
  
  .menuButton {
    position: absolute;
    left: 50%;
    /* transform: translate(0%, 50%); */
    transform: rotate(90deg);
    background-color: rgb(56, 117, 194);
    color:white;
    top: 110px;
    width: 30px;
    height: 300px;
    border-radius: 0px 15px 15px 0px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    z-index: 2000;
  }
  .menuButton-text {
    top: 50%;
    left: 50%;
    position: absolute;
    font-style: bold;
    transform: translate(-50%, -50%) rotate(270deg);
  }

  .menuButton:hover {
    cursor: pointer;
  }
  
  .col-sm {
    margin-bottom: 5px;
  }
  
  .contents {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    top: 0px;
    left: 0px;
    background-color: ivory;
    color: rgb(56, 117, 194);
  }

  .metrics-container { 
    position: absolute;
    width: 100%;
    display: inline-flex;
    padding-left: 15px;
  }

  .width-ctrl {
    min-width: 415px;
    width: 55%;
    font-size: 10pt;
  }

  .checkbox-text {
    font-weight: normal !important;
    color: rgb(56, 117, 194);
    font-size: 10pt;
  }

  .no-border {
    border: none;
    width: 100%;
  }
  
  .no-border-cell-title {
    border: none;
    width: 50%;
  }
  
  .no-border-cell-description {
    border: none;
    width: 50%;
  }

  hr {
    padding: 0px;
    margin: 5px;
  }

  .footer {
    font-size: 8pt !important;
    color: black;
    position: absolute;
    bottom: 5px;
    left: 15px;
  }

  .disable {
    pointer-events: none;
    opacity: 0.2;
  }

  /* .loading {
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;
    animation: ellipsis steps(4,end) 900ms infinite;
  } */

  .loading {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 175px);
    font-size: 35px;
  }
  
  .loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4) 2s infinite;      
    animation: ellipsis steps(4) 2s infinite;
    content: "\2026";
    width: 0px;
  }
  
  @keyframes ellipsis {
    to {
      width: 1.25em;
    }
  }
  
  @-webkit-keyframes ellipsis {
    to {
      width: 1.25em;    
    }
  }
  
  

