<div id="content" [@movePanel]='state' class="container sidebar">

  <div (click)="toggleMenu()" class="menuButton">
    <div class="menuButton-text">Controls</div>
  </div>

  <div class="scrollbar-madness-parent">
    
    <div class="left-scrollbar" #leftScrollbar (scroll)="scrollbarScroll($event)">
      <!-- fake buttons to size phony scrollbar div to same size as menu -->
        <button type="button" class="btn btn-primary btn-responsive btn-ivory btn-custom invisible"><div class="shift">a</div></button>

        <br><br>
  
        <div class="outline slider-background invisible">
          <button type="button" class="btn btn-primary btn-responsive btn-label  internal-menu">a</button>
          <br><mat-slider [max]="1" [min]="0" [step]="0.01"></mat-slider>
        </div>
  
        <br>
  
        <div class="outline btn-group-vertical internal-menu invisible">
          <button type="button" class="btn btn-primary btn-responsive btn-label"><div class="shift">a</div></button>
          <button type="button" class="btn btn-primary btn-responsive btn-ivory btn-custom-half"><div class="shift">a</div></button>
          <button type="button" class="btn btn-primary btn-responsive btn-ivory btn-custom-half"><div class="shift">a</div></button>
        </div>
  
        <br><br>
  
        <button type="button" class="btn btn-primary btn-responsive btn-ivory btn-custom invisible"><div class="shift"> a <br> a </div></button>
        <button type="button" class="btn btn-primary btn-responsive btn-ivory btn-custom invisible"><div class="shift"> a <br> a </div></button>
        <button type="button" class="btn btn-primary btn-responsive btn-ivory btn-custom invisible"><div class="shift"> a <br> a </div></button>
        
        <br><br>
        
        <button type="button" class="btn btn-primary btn-responsive btn-ivory btn-custom invisible"><div class="shift">a</div></button>
    </div>

    <div class="menu" #menu  (scroll)="menuScroll($event)">
      
    
      <button type="button" class="btn btn-primary btn-responsive btn-ivory btn-custom" (click)="toggleAreas()"><div class="shift">{{displayType}} Custom Areas</div></button>

      <br><br>

      <div class="outline slider-background">
        <button type="button" class="btn btn-primary btn-responsive btn-label  internal-menu">Layer Opacity</button>
        <br><mat-slider class="slider-shift" [max]="1" [min]="0" [step]="0.01" [(ngModel)]="value" (input)="sliderChange($event)"></mat-slider>
      </div>

      <br>

      <div class="outline btn-group-vertical internal-menu">
        <button type="button" class="btn btn-primary btn-responsive btn-label"><div class="shift">Units</div></button>
        <button type="button" class="btn btn-primary btn-responsive btn-ivory btn-custom-half" (click)="setUnits('Mgal/d')"><div class="shift">Mgal/d</div></button>
        <button type="button" class="btn btn-primary btn-responsive btn-ivory btn-custom-half" (click)="setUnits('in/yr')"><div class="shift">in/yr</div></button>
      </div>

      <br><br>
      <input type="file" accept=".zip" style="display: none;" (change)="upload($event, 'custom')" #fileSelectCustom />
      <button [disabled]="baselayer!='landcover'" type="button" class="btn btn-primary btn-responsive btn-ivory btn-custom" (click)="fileSelectCustom.click()"><div class="shift">Upload Shapefile<br>as Custom Areas</div></button>

      <input type="file" accept=".zip" style="display: none;" (change)="upload($event, 'reference')" #fileSelectReference />
      <button type="button" class="btn btn-primary btn-responsive btn-ivory btn-custom" (click)="fileSelectReference.click()"><div class="shift">Upload Shapefile<br>as Reference Layer</div></button>

      <button type="button" class="btn btn-primary btn-responsive btn-ivory btn-custom" (click)="download()"><div class="shift">Download Custom<br>Areas as Shapefile</div></button>
      
      <br><br>
      
      <button type="button" class="btn btn-primary btn-responsive btn-ivory btn-custom" (click)="generateReport()"><div class="shift">Generate Report</div></button>

    </div>

  </div>
</div>