<div id="content" [@movePanel]='state' class="container sidebar">

  <div (click)="toggleMenu()" class="menuButton">
    <div class="menuButton-text">Controls</div>
  </div>

  <div class="scrollbar-madness-parent">
    
    <div class="left-scrollbar" #leftScrollbar (scroll)="scrollbarScroll($event)"  [ngClass]="{'disable': mode=='name'}">
      <!-- fake buttons to size phony scrollbar div to same size as menu -->
      <button *ngIf="mode!='name'" type="button" class="btn btn-primary btn-responsive btn-ivory btn-custom invisible">a</button>
      <div *ngIf="mode=='name'" class="outline">
        <div class="select-text invisible">
          Select an Area to Name
        </div>
        <br>
        <div class="name-button-container" *ngIf="areaSelected; else cancel">
          <input class="input-field" type="text">
          <button type="button" class="btn btn-primary btn-responsive btn-custom-half-left invisible">a</button>
          <button type="button" class="btn btn-primary btn-responsive btn-custom-half-right invisible">a</button>
        </div>
        <ng-template>
            <button type="button" class="btn btn-primary btn-responsive internal-menu invisible">a</button>
        </ng-template>
      </div>

        <p></p>

        <button type="button" class="btn btn-primary btn-responsive btn-ivory btn-custom invisible">a</button>

        <p></p>
  
        <div class="outline slider-background invisible">
          <button type="button" class="btn btn-primary btn-responsive btn-label internal-menu invisible">a</button>
          <br><mat-slider [max]="1" [min]="0" [step]="0.01"></mat-slider>
        </div>
  
        <p></p>
  
        <div class="outline btn-group-vertical internal-menu invisible">
            <button type="button" class="btn btn-primary btn-responsive btn-label invisible"><div class="shift">a</div></button>
            <mat-select>
            </mat-select>
          </div>
  
        <p></p>
  
        <div class="outline btn-group-vertical internal-menu invisible">
          <button type="button" class="btn btn-primary btn-responsive btn-ivory btn-custom invisible">a</button>
          <button type="button" class="btn btn-primary btn-responsive btn-ivory btn-custom invisible">a</button>
          <button type="button" class="btn btn-primary btn-responsive btn-ivory btn-custom invisible">a</button>
        </div>

        <p></p>
        
        <button type="button" class="btn btn-primary btn-responsive btn-ivory btn-custom invisible"><div class="shift">a</div></button>
    </div>

    <div class="menu" #menu  (scroll)="menuScroll($event)">
      
      <button *ngIf="mode!='name'" type="button" class="btn btn-primary btn-responsive btn-ivory btn-custom" (click)="toggleNameMode()"><div class="shift">Name Custom Areas</div></button>
      <div *ngIf="mode=='name'" class="outline">
        <div class="select-text">
          Select an Area to Name
        </div>
        <br>
        <div class="name-button-container" *ngIf="areaSelected; else cancel">
          <input class="input-field" #nameInput type="text" [value]="name">
          <button type="button" class="btn btn-primary btn-responsive btn-custom-half-left" (click)="registerNameToShape()"><div class="set-name-shift">Set Name</div></button>
          <button type="button" class="btn btn-primary btn-responsive btn-custom-half-right" (click)="toggleNameMode()"><div class="cancel-shift">Exit</div></button>
        </div>
        <ng-template #cancel>
            <button type="button" class="btn btn-primary btn-responsive cancel" (click)="toggleNameMode()"><div class="shift">Cancel</div></button>
        </ng-template>
      </div>

      <p></p>

      <div [ngClass]="{'disable': mode=='name'}">
        <button type="button" class="btn btn-primary btn-responsive btn-ivory btn-custom" (click)="toggleAreas()"><div class="shift">{{displayType}} Custom Areas</div></button>

        <p></p>

        <div class="outline slider-background">
          <button type="button" class="btn btn-primary btn-responsive btn-label">Layer Opacity</button>
          <br><mat-slider [max]="1" [min]="0" [step]="0.01" [(ngModel)]="value" (input)="sliderChange($event)"></mat-slider>
        </div> 

        <p></p>

        <div class="outline btn-group-vertical internal-menu">
          <button type="button" class="btn btn-primary btn-responsive btn-label"><div class="shift">Units</div></button>
          <mat-select [value]="units" (change)="setUnits($event)">
            <mat-option value="USC">United States Customary</mat-option>
            <mat-option value="Metric">Metric</mat-option>
          </mat-select>
        </div>

        <!-- <p></p> -->

        <!-- did we decide we want this? -->
        <!-- <input matInput [value]="precision" type="number" min="1" max="6"> -->

        <p></p>

        <div class="outline btn-group-vertical internal-menu">
          <button type="button" class="btn btn-primary btn-responsive btn-label"><div class="save-apply-shift">Save/Apply Changes</div></button>
          <button type="button" class="btn btn-primary btn-responsive btn-ivory btn-custom" (click)="openDialog('download')"><div class="shift">Download</div></button>
          <button [disabled]="baselayer!='landcover'" type="button" class="btn btn-primary btn-responsive btn-ivory btn-custom" (click)="openDialog('upload')"><div class="shift">Upload</div></button>
        </div>
        
        <p></p>
        
        <button [disabled]="loading > 0" type="button" class="btn btn-primary btn-responsive btn-ivory btn-custom" (click)="generateReport()">
          <div *ngIf="loading > 0; else report" class="shift"><div class="loading">Loading Metrics</div></div>
          <ng-template #report>Generate Report</ng-template>
        </button>
      </div>

    </div>

  </div>
</div>