

/* ::ng-deep .mat-slider-sliding:not(.mat-slider-disabled) {
  transform: scale(2) !important;
} */

::ng-deep .mat-slider-track-fill {
  background-color: rgb(56, 117, 194) !important;
}

::ng-deep .mat-slider-thumb {
  background-color: rgb(56, 117, 194) !important;
}

.scrollbar-madness-parent {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  height: 100%;
  overflow-x: hidden;
}

.scrollable-menu {
  height: 100%;
  overflow-x: hidden;
  width: 215px;
}

.menuButton:before {
  content: var(--in-out-control);
  color: black;
  position: absolute;
  left: 20px;
  top: 10px;
  font-size: 40px;
  z-index: -2000;
  transition: all 200ms ease;
  opacity: 0;
}

.row {
  top: 10px;
  left: var(--control-scrollbar-width);
  height: calc(100% - 20px);
  width: 152px;
  position: absolute;
  overflow-x: hidden;
}

.menuButton:hover:before {
  left: 35px;
  opacity: .9;
}


.left-scrollbar {
  margin: 0px !important;
  position: absolute;
  top: 0px;
  left: calc(-100% + var(--control-scrollbar-width));
  width: 100%;
  height: 100%;
  /* overflow-y: scroll !important; */
  overflow-x: hidden;
}

.menu {
  margin: 0px !important;
  position: absolute;
  /* assumes scrollbar width in browsers will never be more than 20px (modern standard is 17) */
  left: var(--control-scrollbar-width);
  top: 0px;
  height: 100%;
  /* padding-left: 5px; */
  width: 100%;
  overflow-y: scroll !important;
}

.invisible {
  visibility: hidden;
}

.colorDisplay {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #000000;
  }
  
.sidebar {
    position: absolute;
    left: 100%;
    top: 35px;
    z-index: -1000;
    background-color: rgba(255, 255, 255, 0.9);
    width: 162px;
    height: calc(100% - 40px);
    max-height: var(--scrollheight);
    border-radius: 0px 10px 10px 0px;
    padding: 8px;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.4);
  }
    
.menuButton {
    position: relative;
    left: 155px;
    /* transform: translate(0%, 50%); */
    /* transform: rotate(180deg); */
    background-color: rgb(56, 117, 194);
    color:white;
    top: calc(50% - 45px);
    width: 30px;
    height: 90px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.4);
    text-align: center;
    vertical-align: middle;
    z-index: -1000;
}
.menuButton-text {
    top: 50%;
    left: 50%;
    position: absolute;
    font-style: normal;
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .menuButton:hover {
      cursor: pointer;
  }


  .btn-custom {
    border: 1px solid rgb(125, 0, 0);
    font-size: 12px;
  }

  .outline {
    border-radius: 6px;
    border: 3px solid rgb(56, 117, 194);
  }
  
  .cancel {
    background-color: rgb(56, 117, 194);
    color:white;
    border-radius: 0px 0px 3px 3px;
    width: 100%;
  }
  
  .btn-custom:hover {
    color: rgb(125, 0, 0);
  }

  .btn-custom-half-left:hover {
    color: rgb(125, 0, 0);
  }
  
  .btn-ivory {
    background: ivory;
    color: black;
    font-weight: normal;
    width: 100%;
  }

  .shift {
    margin-left: -5%;
  }

  .internal-menu {
    width: 100% !important;
    background: rgb(56, 79, 124);
  }

  .btn-label{
    pointer-events: none;   
    font-weight: normal;
    font-size: 14px;
    width: 101% !important;
    border-radius: 4px 4px 0px 0px;
    background-color: rgb(56, 117, 194);
    color: white;
  }

  .slider-background {
    background: ivory;
  }

  .disable {
    pointer-events: none;
    opacity: 0.4;
  }

  .input-field {
    width: 100%;
    height: 25px;
  }
  
  .select-text {
    font-weight: normal;
    font-size: 16px;
    text-align: center;
  }

  .name-button-container {
    height: 50px;
  }

  .btn-custom-half-left {
    background: ivory;
    color: black;
    float: left;
    width: 50% !important;
    border-radius: 0px;
    border-bottom-left-radius: 3px !important;
    top: 0px;
    height: 25px;
    font-size: 12px;
  }

  .btn-custom-half-right {
    background-color: rgb(56, 117, 194);
    color:white;
    float: left;
    width: 50% !important;
    border-radius: 0px;
    border-bottom-right-radius: 3px !important;
    top: 0px;
    height: 25px;
    font-size: 12px;
  }

  .set-name-shift {
    margin-left: -8px;
    margin-top: -2px;
  }

  .cancel-shift {
    margin-left: -5px;
    margin-top: -2px;
  }

  .save-apply-shift {
    margin-left: -10px;
  }

  
  .loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4) 2s infinite;      
    animation: ellipsis steps(4) 2s infinite;
    content: "\2026";
    width: 0px;
  }
  
  @keyframes ellipsis {
    to {
      width: 1em;
    }
  }
  
  @-webkit-keyframes ellipsis {
    to {
      width: 1em;    
    }
  }
