
.panel {
  box-shadow: 5px 5px 3px rgba(0,0,0,0.4);
  position: absolute;
  z-index: 0;
  border-radius: 1%;
  transition: left .01s ease-in, top .01s ease-in;
}
  
  
  .report-container {
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: calc(100% - 35px);
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
    overflow: scroll;
    
  }
  
  table {
    font-size: 13px;
  }
  
  
  .panel-default>.panel-heading-custom {
    background-color: rgb(56, 117, 194);
    color: #fff;
    height: 35px;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
  }
  
  .panel-default>.panel-heading-custom:hover {
    cursor: pointer;
  }
  
  .download-button {
    position: absolute;
    top: 40px;
    right: 25px;
    z-index: 100;
  }
  
  .navbarButton {
    width: 25px !important;
    height: 25px !important;
    top: 0px !important;
    float: right !important;
    border-radius: 3px !important;
  }

  .icon-remove {
    transform: translate(0, calc(-50% + 5px));
  }
  
  .glyphicon {
    font-size: 12px;
    transform: translate(-30%, -25%);
  }
  
  .glyphicon-remove {
    color: #F37E7E;
  }
  
  .glyphicon-plus {
    color: rgba(97, 97, 97, 0.85);
  }
  
  .glyphicon-minus {
    color: rgba(97, 97, 97, 0.35);
  }
  
  .allowPointerEvents{
    pointer-events: all;
  }
  
  .btn-resize{
    position: absolute;
    top: 65%;
    left:85%;
    z-index: 99999;
  }
  
  .graphs {
    top: 2000px;
    width: 400px;
  }
  
  .drag-bottom {
    position: absolute;
    width: calc(100% - 7px);
    height: 10px;
    top: calc(100% - 5px);
  }
  
  .drag-bottom:hover {
    cursor: ns-resize;
  }
  
  .drag-right {
    position: absolute;
    width: 10px;
    height: calc(100% - 45px);
    left: calc(100% - 5px);
  }
  
  .drag-right:hover {
    cursor: ew-resize;
  }
  
  .drag-corner {
    position: absolute;
    width: 15px;
    height: 15px;
    top: calc(100% - 7px);
    left: calc(100% - 7px);
  }
  
  .drag-corner:hover {
    cursor: nwse-resize;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 10px;
  }
  
  .pdf-btn {
    background-color: rgb(56, 117, 194);
    color: white;
  }
  
  .phantom-scroll-lock {
    position: absolute;
    width: 1px;
    height: 1px;
    pointer-events: none;
  }
  
  .phantom-scroll-smooth {
    position: absolute;
    width: 1px;
    height: 1px;
    transition: left .5s ease-in, top .5s ease-in;
    pointer-events: none;
  }
  
  .no-border {
    border: none;
  }
  
  
  .no-border-cell-title {
    border: none;
    width: 45%;
  }
  
  .no-border-cell-description {
    border: none;
    width: 60%;
    padding-top: 30px;
  }
  
  .no-border-cell-internal {
    border: none;
    width: 50%;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
  .nested-table {
    width: 150px;
  }
  
  .header-table {
    width: 730px;
  }