
::ng-deep .mat-select{
  height: 30px;
  padding: 6px;
  background: ivory;
  font-size: 12px;
  font-weight: normal;
  border-radius: 0px 0px 0px 5px;
}

.spacer {
  display: inline-block;
  width: 5px;
}

.icon {
  font-size: 18px;
  /* color: rgb(56, 117, 194); */
}

.colorDisplay {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #000000;
}

.menuButton:before {
  content: var(--in-out-menu);
  color: black;
  position: absolute;
  left: -10px;
  top: 10px;
  font-size: 40px;
  z-index: -2000;
  transition: all 200ms ease;
  opacity: 0;
}

.menuButton:hover:before {
  left: -25px;
  opacity: .9;
}

.checkbox-div {
  font-size: 12px !important;
  padding: 5px;
  background-color: ivory;
  width: 100%;
}

.sidebar {
    position: absolute;
    top: 35px;
    z-index: -1000;
    background-color: rgba(255, 255, 255, 0.9);
    width: 225px;
    height: calc(100% - 40px);
    max-height: var(--scrollheight);
    border-radius: 10px 0px 0px 10px;
    padding: 8px;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.4);
  }
  
  .menuButton {
    position: absolute;
    top: calc(50% - 45px);
    left: -30px;
    /* transform: translate(0%, 50%); */
    background-color: rgb(56, 117, 194);
    border-radius: 10px 0px 0px 10px;
    color: white;
    width: 30px;
    height: 90px;
    
    box-shadow: 0px 5px 3px rgba(0,0,0,0.4);
    text-align: center;
    vertical-align: middle;
    z-index: -2000;
  }

  .menuButton-text {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%) rotate(270deg);
  }
  
  .menuButton:hover {
    cursor: pointer;
  }

  .row {
    margin: 0px !important;
    position: absolute;
    height: calc(100% - 20px);
  }
  
  .col-sm {
    margin-bottom: 5px;
  }
  
  .input-field {
    width: 100%;
  }
  
  .add-button {
    width: 100%;
    background-color: rgb(89, 158, 92);
    color: white;
    font-size: 16px;
  }

  .capcity-button {
    width: 100%;
    background-color: rgb(175, 75, 75);
    color: white;
    font-size: 16px;
  }
  
  .scrollable-menu {
    height: 100%;
    overflow-x: hidden;
    width: 215px;
  }

  .internal-menu {
    width: 205px;
  }

.btn-green {
    background-color: #009933
}

.btn-blue {
    background-color: #0099cc
}

.btn-climategreen {
    background-color: #28ba60
}

.btn-primary {
  font-size: 12px;
}

.btn-orange{
  background-color: #c9a824
}

.btn-red{
  background-color: rgb(125, 0, 0);
}
.btn-red:hover {
  color: green;
}

.btn-label{
    pointer-events: none;   
    font-size: 18px;
    font-weight: normal;
    background-color: rgb(56, 117, 194) !important;
    color: white;
}

.btn-sublabel1{
  background-color: #016422;
  pointer-events: none;   
  font-size: 15px;
  font-weight: normal;
  color: white;
}

.btn-sublabel2{
  background-color: rgb(0, 97, 110);
  pointer-events: none;   
  font-size: 15px;
  font-weight: normal;
  color: white;
}

.disable {
  pointer-events: none;
  opacity: 0.4;
}

.outline {
  border-radius: 7px;
  border: 3px solid rgb(56, 117, 194);
}

.medium {
  transform: scale(.85, 1);
  margin-left: -2%;
}

.long {
  transform: scale(.8, 1);
  margin-left: -4%;
}

.dmiw {
  transform: scale(.65, .9);
  margin-left: -14%;
}

.dmiwo {
  transform: scale(.6, .9);
  margin-left: -17%;
}

.dhiw {
  transform: scale(.69, .9);
  margin-left: -12%;
}

.dhiwo {
  transform: scale(.65, .9);
  margin-left: -14%;
}

.shift {
  text-align: left;
  padding-left: 9%;
  white-space: normal;
}

.btn-red:hover {
  color: greenyellow;
}

.btn-custom-t1 {
  border: 1px solid rgb(95, 136, 0);
}

.btn-custom-t1:hover {
  color: rgb(95, 136, 0);
}

.btn-custom-t2 {
  border: 1px solid #016422;
  font-size: 12px;
  max-height: 50px !important;
  min-height: 50px !important;
}

.btn-custom-t2:hover {
  color: #016422;
}

.btn-custom-t3 {
  border: 1px solid rgb(0, 97, 110);
  font-size: 12px;
}

.btn-custom-t3:hover {
  color: rgb(0, 97, 110);
}

.btn-custom-t4 {
  border: 1px solid rgb(125, 0, 0);
  font-size: 12px;
}

.btn-custom-t4:hover {
  color: rgb(125, 0, 0);
}

.btn-ivory {
  background: ivory;
  color: black;
  font-weight: normal;
}