<div id="content" [@movePanel]='state' class="container sidebar">

  <div (click)="toggleMenu()" class="menuButton">
    <div class="menuButton-text">Menu</div>
  </div>

  <div class="row">
  
      <div class="btn-group-vertical scrollable-menu" #scrollableMenu role="group">

        <button type="button" class="btn btn-primary btn-responsive btn-label">Climate</button>
        <button type="button" class="btn btn-primary btn-responsive btn-climategreen" (click)="changeShapeFile()">Average</button>
        <button type="button" class="btn btn-primary btn-responsive btn-orange" (click)="changeShapeFile()">Drought</button>
        <p></p>
        <button type="button" class="btn btn-primary btn-responsive btn-label">Non-Irrigated</button>
        <button type="button" class="btn btn-primary btn-responsive btn-green" (click)="changeAlienForest()">Alien Forest</button>
        <button type="button" class="btn btn-primary btn-responsive btn-green" (click)="changeAlienForestFog()">Alien Forest in Fog Zone</button>
        <button type="button" class="btn btn-primary btn-responsive btn-green" (click)="changeFallow()">Fallow/Grassland</button>
        <button type="button" class="btn btn-primary btn-responsive btn-green" (click)="changeGrassland()">Grassland</button>
        <button type="button" class="btn btn-primary btn-responsive btn-green" (click)="changeShapeFile()">Kiawae/Phreatophytes</button>
        <button type="button" class="btn btn-primary btn-responsive btn-green" (click)="changeShapeFile()">Low-Intensity Developed</button>
        <button type="button" class="btn btn-primary btn-responsive btn-green" (click)="changeShapeFile()">Native Forest</button>
        <button type="button" class="btn btn-primary btn-responsive btn-green" (click)="changeShapeFile()">Native Forest in Fog Zone</button>
        <button type="button" class="btn btn-primary btn-responsive btn-green" (click)="changeShapeFile()">Near-Coastal or Estuarine Water Body</button>
        <button type="button" class="btn btn-primary btn-responsive btn-green" (click)="changeShapeFile()">Open-Space Developed</button>
        <button type="button" class="btn btn-primary btn-responsive btn-green" (click)="changeShapeFile()">Predevelopment Grass/Shrub</button>
        <button type="button" class="btn btn-primary btn-responsive btn-green" (click)="changeShapeFile()">Predevelopment Open Native Forest</button>
        <button type="button" class="btn btn-primary btn-responsive btn-green" (click)="changeShapeFile()">Reservoirs</button>
        <button type="button" class="btn btn-primary btn-responsive btn-green" (click)="changeShapeFile()">Shrub Land</button>
        <button type="button" class="btn btn-primary btn-responsive btn-green" (click)="changeShapeFile()">Sparsely Vegetated, Barren</button>
        <button type="button" class="btn btn-primary btn-responsive btn-green" (click)="changeShapeFile()">Sugurcane - Unirrigated</button>
        <button type="button" class="btn btn-primary btn-responsive btn-green" (click)="changeShapeFile()">Taro</button>
        <button type="button" class="btn btn-primary btn-responsive btn-green" (click)="changeShapeFile()">Tree Plantatation</button>
        <button type="button" class="btn btn-primary btn-responsive btn-green" (click)="changeShapeFile()">Tree Plantation in Fog Zone</button>
        <button type="button" class="btn btn-primary btn-responsive btn-green" (click)="changeShapeFile()">Water Body</button>
        <button type="button" class="btn btn-primary btn-responsive btn-green" (click)="changeShapeFile()">WetLand</button>
        <p></p>
        <button type="button" class="btn btn-primary btn-responsive btn-label">Irrigated</button>
        <button type="button" class="btn btn-primary btn-responsive btn-blue" (click)="changeShapeFile()">Coffee</button>
        <button type="button" class="btn btn-primary btn-responsive btn-blue" (click)="changeShapeFile()">Corn</button>
        <button type="button" class="btn btn-primary btn-responsive btn-blue" (click)="changeShapeFile()">Developed, Medium-Intensity</button>
        <button type="button" class="btn btn-primary btn-responsive btn-blue" (click)="changeShapeFile()">Developed, High-Intensity</button>
        <button type="button" class="btn btn-primary btn-responsive btn-blue" (click)="changeShapeFile()">Diversified Agriculture</button>
        <button type="button" class="btn btn-primary btn-responsive btn-blue" (click)="changeShapeFile()">Golf Course</button>
        <button type="button" class="btn btn-primary btn-responsive btn-blue" (click)="changeShapeFile()">Macadamia</button>
        <button type="button" class="btn btn-primary btn-responsive btn-blue" (click)="changeShapeFile()">Pineapple</button>
        <button type="button" class="btn btn-primary btn-responsive btn-blue" (click)="changeShapeFile()">Sugarcane - Drop Irrigation</button>
        <button type="button" class="btn btn-primary btn-responsive btn-blue" (click)="changeShapeFile()">Sugarcane - Furrow Irrigation</button>
      </div>

    </div>

</div>


