<div id="content" [@movePanel]='state' class="container sidebar">

  <div (click)="toggleMenu()" class="menuButton">
    <div class="menuButton-text">Menu</div>
  </div>

  <div class="row">
  
      <div class="btn-group-vertical scrollable-menu" #scrollableMenu role="group">

        <button type="button" class="btn btn-primary btn-responsive btn-red" (click)="changeCover('base')">Revert to Base</button>
        <p></p>
        <button type="button" class="btn btn-primary btn-responsive btn-label">Climate</button>
        <button type="button" class="btn btn-primary btn-responsive btn-climategreen" (click)="changeScenario0()">Average</button>
        <button type="button" class="btn btn-primary btn-responsive btn-orange" (click)="changeScenario1()">Drought</button>
        <p></p>
        <button type="button" class="btn btn-primary btn-responsive btn-label">Non-Irrigated</button>
        <button type="button" class="btn btn-primary btn-responsive c0" (click)="changeCover('Alien Forest')">Alien Forest</button>
        <button type="button" class="btn btn-primary btn-responsive c1" (click)="changeCover('Alien Forest Fog')">Alien Forest in Fog Zone</button>
        <button type="button" class="btn btn-primary btn-responsive c2" (click)="changeCover('Developed Low-Intensity')">Developed, Low-Intensity</button>
        <button type="button" class="btn btn-primary btn-responsive c3" (click)="changeCover()">Grass/Shrub - Predevelopment</button>
        <button type="button" class="btn btn-primary btn-responsive c4" (click)="changeCover('Grassland')">Grassland</button>
        <button type="button" class="btn btn-primary btn-responsive c5" (click)="changeCover('Kiawe/Phreatophytes')">Kiawe/Phreatophytes</button>
        <button type="button" class="btn btn-primary btn-responsive c6" (click)="changeCover()">Macadamia</button>
        <button type="button" class="btn btn-primary btn-responsive c7" (click)="changeCover('Native Forest')">Native Forest</button>
        <button type="button" class="btn btn-primary btn-responsive c8" (click)="changeCover('Native Forest Fog')">Native Forest in Fog Zone</button>
        <button type="button" class="btn btn-primary btn-responsive c9" (click)="changeCover('Near-Coastal or Estuarine Water Body')">Near-Coastal or Estuarine Water Body</button>
        <button type="button" class="btn btn-primary btn-responsive c10" (click)="changeCover()">Open Native Forest - Predevelopment</button>
        <button type="button" class="btn btn-primary btn-responsive c11" (click)="changeCover()">Reservoirs</button>
        <button type="button" class="btn btn-primary btn-responsive c12" (click)="changeCover()">Shrub Land</button>
        <button type="button" class="btn btn-primary btn-responsive c13" (click)="changeCover()">Sparse Grassland - Predevelopment</button>
        <button type="button" class="btn btn-primary btn-responsive c14" (click)="changeCover()">Sparsely Vegetated, Barren</button>
        <button type="button" class="btn btn-primary btn-responsive c15" (click)="changeCover()">Sugarcane - Predevelopment</button>
        <button type="button" class="btn btn-primary btn-responsive c16" (click)="changeCover()">Tree Plantatation</button>
        <button type="button" class="btn btn-primary btn-responsive c17" (click)="changeCover()">Water Body</button>
        <button type="button" class="btn btn-primary btn-responsive c18" (click)="changeCover()">WetLand</button>
        <p></p>
        <button type="button" class="btn btn-primary btn-responsive btn-label">Irrigated</button>
        <button type="button" class="btn btn-primary btn-responsive c20" (click)="changeCover()">Coffee</button>
        <button type="button" class="btn btn-primary btn-responsive c21" (click)="changeCover()">Corn</button>
        <button type="button" class="btn btn-primary btn-responsive c22" (click)="changeCover()">Developed, High-Intensity</button>
        <button type="button" class="btn btn-primary btn-responsive c23" (click)="changeCover()">Developed, Medium-Intensity</button>
        <button type="button" class="btn btn-primary btn-responsive c24" (click)="changeCover()">Diversified Agriculture</button>
        <button type="button" class="btn btn-primary btn-responsive c25" (click)="changeCover()">Golf Course</button>
        <button type="button" class="btn btn-primary btn-responsive c26" (click)="changeCover()">Pineapple</button>
        <button type="button" class="btn btn-primary btn-responsive c27" (click)="changeCover()">Sugarcane - Drip Irrigation</button>
        <button type="button" class="btn btn-primary btn-responsive c28" (click)="changeCover()">Sugarcane - Furrow Irrigation</button>
        <button type="button" class="btn btn-primary btn-responsive c29" (click)="changeCover('Taro')">Taro</button>
      </div>

    </div>

</div>


