.spinner {
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    z-index: 10000;
}

.topcorner{
    position:absolute;
    top: 40px;
    left: 10px;
 }


 .btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
}

.scrollable-menu {
    height: auto;
    /* max-height: 1000px; */
    overflow-x: hidden;
}


.btn-green{
    background-color: #009933
}

.btn-blue{
    background-color: #0099cc
}

.btn-orange{
    background-color: #ff9900
}

.btn-label{
    pointer-events: none;   
    text-decoration: underline;
    font-weight: bold
}

.leaflet-container.crosshair-cursor-enabled {
    cursor: crosshair !important;
}

.legend {
    line-height: 18px !important;
    color: red !important;
    background-color: lightgray !important;
}
.legend i {
    width: 18px !important;
    height: 18px !important;
    float: left !important;
    margin-right: 8px !important;
    opacity: 0.7 !important;
}
