<div class="buffer">
  <div class="header">
    <div class="pad">
      <h1>
        About This Website
      </h1>
    </div>
  </div>
  
  <br>
  
  <div class="body">
    <h2>
        Website Authors
    </h2>
    <p>
      <b>Jared H. McLesn</b>, University of Hawai‘i at Hilo, Computer Science and Engineering—Web application development and design
    </p>
    <p>
      <b>Kolja Rotzoll</b>, University of Hawai‘i at Mānoa, Water Resources Research Center—Groundwater recharge computation and web application design
    </p>
    <p>
      <b>Sean B. Cleveland</b>, University of Hawai‘i at Mānoa, Information Technology Services—Agave platform database integration
    </p>
    <p>
      <b>Scot K. Izuka</b>, United States Geological Survey, Pacific Islands Water Science Center—Web application design, documentation, and project oversight
    </p>

    <br>

    <h2>
      Citation Information
    </h2>
    <p>
      All content and results are in the public domain and may be used freely, with appropriate credit given to this website. Suggested citation:
    </p>
    <p>
      McLean, Jared H., Rotzoll, Kolja, Cleveland, Sean B., and Izuka, Scot K., 2018, The Hawaii Groundwater Recharge Tool, website, doi: ########
    </p>

    <br>

    <h2>
      Acknowledgments
    </h2>
    <p>
      Development of the Hawai‘i Groundwater Recharge Tool was funded by the University of Hawai‘i (UH), through its <a target="_blank" href="http://www.hawaii.edu/epscor/">‘Ike Wai Project</a> NSF OIA #1557349. The website also benefitted from the insights, technical expertise, and resources of Leah Bremer (UH), Laura Brewington (East-West Center), John Engott (USGS), Gwen Jacobs (UH), Adam Johnson (USGS), Jack Lam (UH), Delwyn Oki (USGS), Jason Leigh (UH), Ryan Theriot (UH), Stephen Westenbroek (USGS), Laboratory for Advanced Visualization & Applications (UH), and the Hawaii Data Science Institute.
    </p>
  </div>
</div>
  
  