<div class="buffer">
  <div class="header">
    <div class="pad">
      <h1>
        About This Website
      </h1>
    </div>
  </div>
  
  <br>
  
  <div class="body">
    <h2>
      Website Authors
    </h2>
    <p>
      <b>Jared H. McLean</b>, University of Hawai‘i at Hilo, Computer Science and Engineering — Web application development and design
    </p>
    <p>
      <b>Kolja Rotzoll</b>, United States Geological Survey, Pacific Islands Water Science Center — Groundwater recharge computation and web application design
    </p>
    <p>
      <b>Sean B. Cleveland</b>, University of Hawai‘i at Mānoa, Information Technology Services — Agave platform database integration
    </p>
    <p>
      <b>Scot K. Izuka</b>, United States Geological Survey, Pacific Islands Water Science Center — Web application design, documentation, and project oversight
    </p>

    <br>

    <h2>
      Citation Information
    </h2>
    <p>
      All content and results are in the public domain and may be used freely, with appropriate credit given to this website. Suggested citation:
    </p>
    <p>
      McLean, Jared H., Rotzoll, Kolja, Cleveland, Sean B., and Izuka, Scot K., 2019, The Hawaiʻi Groundwater Recharge Tool: website at https://recharge.ikewai.org.
    </p>

    <br>

    <h2>
      Related Publications
    </h2>
    <p>
      Cleveland, S.B., McLean, J.H., Rotzoll, K., Izuka, S.K., and Jacobs, G.A.,  2019, Enabling real-time user interaction for decision support: experiences extending a 
      local Agave platform metadata service: in Practice and Experience in Advanced Research Computing (PEARC ’19), July 28-August 1, 2019, Chicago, IL, USA. ACM, New York, 
      NY, USA, 6 pages. <a href="https://doi.org/10.1145/3332186.3332252" target="_blank">https://doi.org/10.1145/3332186.3332252</a>
    </p>
    <p>
      J. McLean., S.B. Cleveland, K. Rotzoll, S.K. Izuka, J. Leigh, G.J. Jacobs, R. Theriot,
      "The ‘Ike Wai Hawai‘i Groundwater Recharge Tool," In Proc. Gateways 2019, San Diego, CA, USA, September 2019. 
      <a href="https://doi.org/10.17605/OSF.IO/TH9W2" target="_blank">https://doi.org/10.17605/OSF.IO/TH9W2</a>.
    </p>
    <p>
        Rotzoll, K., S.K. Izuka, L. Bremer, J. McLean, S.B. Cleveland, L. Brewington, 2020, Exploring recharge changes with the web-based Hawai‘i 
        Groundwater Recharge Tool: presented at 2020 Pacific Water Conference, American Water Works Association, Honolulu, HI, February 5–6, 2020
    </p>
    

    <br>

    <h2>
      Acknowledgments
    </h2>
    <p>
      Development of the Hawaiʻi Groundwater Recharge Tool was funded by the University of Hawaiʻi (UH), through its <a target="_blank" href="http://www.hawaii.edu/epscor/">‘Ike Wai Project</a> 
      NSF OIA #1557349. The website also benefitted from the insights, technical expertise, and resources of Leah Bremer (UH), Laura Brewington (East-West Center), John Engott (USGS), Gwen 
      Jacobs (UH), Adam Johnson (USGS), Jack Lam (UH), Delwyn Oki (USGS), Jason Leigh (UH), Ryan Theriot (UH), Stephen Westenbroek (USGS), Laboratory for Advanced Visualization & Applications 
      (UH), and the Hawaiʻi Data Science Institute
    </p>
  </div>
</div>
  
  