<div class="buffer">
  <div class="header">
    <div class="pad">
      <h1>
        Citation Information
      </h1>
    </div>
  </div>
  
  <br>
  
  <div class="body">
    <p>
      All content and results are in the public domain and may be used freely, with appropriate credit given to this website. Suggested citation:
      <br>
      McLean, J., Rotzoll, K., Cleveland, S., and Izuka, S.K., 2018, The Hawaii Groundwater Recharge Tool (HIGRET), website, doi: ########
    </p>
  </div>
</div>
  
  