img {
    float: right;
    max-width: calc(75% - 150px);
    width: 500px;
    min-width: 40%;
    height: auto;
    clear: both;
    margin: 50px;
    margin-top: 0px;
    margin-left: 100px;
}

.header {
    background: rgb(56, 117, 194);
    color: white;
}

.figure {
    float: right;
    padding: 50px;
    padding-top: 0px;
    max-width: 75%;
    width: 760px;
    height: auto;
    clear: both;
}

table {
    width: 100%;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

h1 {
    text-align: center;
}

th {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    font-size: 20px;
}

li {
    font-size: 20px;
}

.body {
    position: absolute;
    width: 90%;
    left: 5%;
    padding-bottom: 100px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.pad {
    padding-top: 10px;
    padding-bottom: 10px;
}

.buffer {
    padding-bottom: 20px;
}