

.navbar-brand {
  padding: 0px;
  
}

.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.navbar-default{
  background-color:rgb(56, 117, 194);
  width: 100%;
  z-index: 10000;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background-color: rgb(58, 165, 236);
  color: white;
}



.navbar-nav>li>a {
  color:white;
}