.mat-raised-button {
    background-color: ivory;
}

.mat-primary-blue {
    background-color: rgb(56, 117, 194);
}

.dialog-container {
    /* font-size: 10% !important;
    line-height: 14px !important; */
}