
  
  <table class="maintable">
    <tr>
      <td>
        <table>
            <tr>
              <th>{{header}}</th>
            </tr>
          </table>
        </td>
    </tr>
    <tr>
      <td>
        <table>
          <tr>
            <td *ngFor="let column of rows">
              <table>
                <tr>
                  <th>
                    Land Cover
                  </th>
                  <th>
                    Code
                  </th>
                </tr>
                <tr *ngFor="let item of column">
                  <td>
                    {{item.name}}
                  </td>
                  <td class="td-code">
                    {{item.code}}
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
