.maintable {
    border-bottom: 1px solid;
}

th {
    border-bottom: 1px solid;
}

td {
    vertical-align: top;
    padding: 5px 5% 5px 0px;
}

.td-code {
    text-align: right;
    padding-right: 5% !important;
}

td:last-child {
    padding-right: 0px;
}

table {
    width: 100%;
}

