<div #panelDiv class="panel panel-default allowPointerEvents">
  <!-- <div class="scroll-better"></div> -->
  <div #dragBar class="panel-heading panel-heading-custom">
    Map - {{id}}
    <button class="navbarButton" mat-icon-button (click)="removeWindow()">
        <mat-icon class="icon-remove" aria-label="Close map">close</mat-icon>
    </button>
  </div>

  <div class="map-container">

    <app-map #map (showReport)="showReport($event)"></app-map>

  </div>

  <app-sidebar-panel></app-sidebar-panel>
  <app-bottombar-panel></app-bottombar-panel>
  <app-sidebar-controls #controls></app-sidebar-controls>
  <div class="drag-bottom" #resizeBot></div>
  <div class="drag-right" #resizeRight></div>
  <div class="drag-corner" #resizeCorner></div>

</div>
<div #phantomScrollLock class="phantom-scroll-lock"></div>
<div #phantomScrollSmooth class="phantom-scroll-smooth"></div>
