.toggle-button {
    position: absolute;
    background-color: rgb(56, 117, 194);
    transform: translateX(-15px);
    left: 50%;
    color: white;
    bottom: 0px;
    width: 30px;
    height: 25px;
    border-radius: 0px 0px 10px 10px;
    z-index: 2000;
    display: inline-block;
}

.arrow {
    transform: translateY(-13px) translateX(5px) rotate(90deg);
    font-size: 35px;
}

body {
    overflow: hidden !important;
}

.toggle-button:hover {
    cursor: pointer;
}

.height-balancer {
    width: 0px;
    height: 0px;
    float: right;
    clear: right;
}

.image-container {
    background-color: red;
    width: 50%;
    max-width: calc(100% - 300px);
    float: right;
    clear: right;
}

img {
    width: 100%;
    height: auto;
    outline: 5px double rgb(56, 117, 194);
    outline-offset: -15px;
    padding: 15px;
    float: right;
    clear: right;
}

.header {
    background: rgb(56, 117, 194);
    color: white;
}

.figure {
    float: right;
    padding: 50px;
    max-width: 75%;
    width: 760px;
    height: auto;
    clear: both;
}

.button-container {
    background-color: purple;
    position: absolute;
    right: 0px;
    width: 50%;
    max-width: calc(100% - 300px);
    text-align: center;
    height: 25px;
    top: 0px;
}

table {
    width: 100%;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

h1 {
    text-align: center;
}

th {
    text-align: center;
}

p {
    font-size: 20px;
}

li {
    font-size: 20px;
}

.body {
    position: absolute;
    width: 90%;
    left: 5%;
    padding-bottom: 100px;
    float: right;
    clear: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.pad {
    padding-top: 10px;
    padding-bottom: 10px;
}

.buffer {
    padding-bottom: 20px;
}