.toggleButton {
    position: absolute;
    background-color: rgb(56, 117, 194);
    transform: translateX(-15px);
    color: white;
    bottom: 0px;
    width: 30px;
    height: 25px;
    border-radius: 0px 0px 10px 10px;
    z-index: 2000;
    display: inline-block;
}

.arrow {
    transform: translateY(-13px) translateX(5px) rotate(90deg);
    font-size: 35px;
}

.toggleButton:hover {
    cursor: pointer;
}

!http://jsfiddle.net/cope360/KbFGv/1/

img {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 25px;
    display: block;
    border-style: double;
}

.header {
    background: rgb(56, 117, 194);
    color: white;
}

.figure {
    float: right;
    padding: 50px;
    max-width: 75%;
    width: 760px;
    height: auto;
    clear: both;
}

.image-container {
    position: relative;
    right: 0px;
    float: right;
    width: 50%;
    max-width: calc(100% - 400px);
    transform: translateX(25px);
    text-align: center;
    height: 118px;
}

table {
    width: 100%;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

h1 {
    text-align: center;
}

th {
    text-align: center;
}

p {
    font-size: 20px;
}

li {
    font-size: 20px;
}

.body {
    position: absolute;
    width: 90%;
    left: 5%;
    padding-bottom: 100px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.pad {
    padding-top: 10px;
    padding-bottom: 10px;
}

.buffer {
    padding-bottom: 20px;
}