  .menu-button {
    position: absolute;
    top: 150px;
    left: 0px;
    height: 150px;
    width: 90px;
    background-color: rgb(56, 117, 194);
    font-style: bold;
    color: white;
    border-radius: 0px !important;
  }

  .menuButton-text {
    top: 50%;
    left: 50%;
    position: absolute;
    font-style: bold;
    color: white;
  }

  .menu-button:hover {
    border-bottom-style: double;
    border-right-style: double;
    border-top-style: none;
    border-left-style: none;
    border-width: 7px;
  }
  
  .row {
    margin: 0px !important;
    position: relative;
    top: -100px;
  }
  
  .col-sm {
    margin-bottom: 5px;
  }
  
  .input-field {
    width: 100%;
  }
  
  .add-button {
    width: 100%;
    background-color: rgb(89, 158, 92);
    color: white;
    font-size: 16px;
  }
  .capcity-button {
    width: 100%;
    background-color: rgb(175, 75, 75);
    color: white;
    font-size: 16px;
  }
  
  