<h2>
  CONDITIONS OF USE
</h2>
<div>
    <p>
      The Hawaiʻi Groundwater Recharge Tool was developed through collaboration between the U.S. Geological Survey (USGS) 
      and the University of Hawai‘i (UH), and is provided as a service to the public. Users are responsible for understanding 
      the <a (click)="close(false)" routerLink="/background">background and limitations</a> of the Hawai‘i Groundwater Recharge Tool. 
      Users are responsible for evaluating the appropriateness of the Hawaiʻi Groundwater Recharge Tool for their objectives.
    </p>
    <p>
      Although the Hawaiʻi Groundwater Recharge Tool has been subjected to review, the USGS and UH reserve the right to update the web interface 
      as needed pursuant to further analysis and review. No warranty, expressed or implied, is made by the USGS, the UH, the U.S. Government, or 
      the State of Hawai‘i  as to the functionality of the web interface and related material, nor shall the fact of release constitute any such 
      warranty. Furthermore, the Hawai‘i Groundwater Recharge Tool is released on condition that neither the USGS, UH, U.S. Government, nor State 
      of Hawai‘i shall be held liable for any damages resulting from its authorized or unauthorized use.
    </p>
    <p>
      All content and results are in the public domain and may be used freely, with appropriate credit given to this website. Suggested citation:
    </p>
    <p>
      McLean, Jared H., Rotzoll, Kolja, Cleveland, Sean B., and Izuka, Scot K., 2019, The Hawaiʻi Groundwater Recharge Tool, website at https://#####.
    </p>
    
</div>

<br>

<mat-checkbox (change)="setAccepted($event.checked)">I have read and understand the conditions of use</mat-checkbox>

<mat-dialog-actions>
  <div matTooltip="{{tooltip}}" [matTooltipPosition]="position">
    <button mat-raised-button class="mat-primary" [disabled]="!accepted" (click)="close(true)">Continue</button>
  </div>
</mat-dialog-actions>
