/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:host {
  --color0: #ffffff;
  --color1: #ffffff;
  --color2: #ffffff;
  --color3: #ffffff;
  --color4: #ffffff;
  --color5: #ffffff;
  --color6: #ffffff;
  --color7: #ffffff;
  --color8: #ffffff;
  --color9: #ffffff;
  --color10: #ffffff;
  --color11: #ffffff;
  --color12: #ffffff;
  --color13: #ffffff;
  --color14: #ffffff;
  --color15: #ffffff;
  --color16: #ffffff;
  --color17: #ffffff;
  --color18: #ffffff;
  --color19: #ffffff;
  --color20: #ffffff;
  --color21: #ffffff;
  --color22: #ffffff;
  --color23: #ffffff;
  --color24: #ffffff;
  --color25: #ffffff;
  --color26: #ffffff;
  --color27: #ffffff;
  --color28: #ffffff;
  --color29: #ffffff;

  --in-out-control: "\00AB";
  --in-out-menu: "\00BB";
  --in-out-bottom: "\00AB";

  --control-scrollbar-width: 0;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: rgb(56, 117, 194) !important;
}
  
.mat-ripple-element {
  background: rgba(56, 117, 194, .4) !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: rgb(56, 117, 194) !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: rgb(56, 117, 194) !important;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color:rgba(56, 117, 194, .4) !important;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: white;
}
  

 