<div class="buffer">
  <div class="header">
    <div class="pad">
      <h1>Hawai&#699;i Groundwater Recharge Explorer</h1>
      <h3>An interactive website created by the University of Hawai&#699;i and U.S. Geological Survey</h3>
    </div>
  </div>
</div>
  
<div class="body">
  <a target="_blank" href="../assets/homePicture.png"><img src="../assets/homePicture.png" alt="Recharge Diagram"></a>
  <p>
    The primary source of freshwater to Hawai‘i’s groundwater systems is recharge. Accurate estimates of recharge are critical for groundwater-resource management and planning. 
    The <b>Hawai‘i Groundwater Recharge Tool</b> (HIGRET) is a website that allows users to evaluate the effects of land-cover and climate changes on groundwater recharge. 
    This is a pilot website that is currently limited to the island of O‘ahu, but the website has been designed to be expandable so that other islands can be added in the future.
  </p>
  <p>
    Recharge primarily originates as precipitation. In Hawai‘i, most precipitation is in the form of rain, with some contribution from fog and snow. 
    Only a fraction of the water from precipitation contributes to recharge; the remainder runs off to the ocean by way of streams, or returns to the 
    atmosphere through evapotranspiration (evaporation and transpiration by plants).
  </p>
  <p>
    Changes in precipitation caused by climate changes can affect recharge rates. Changes in land cover can also affect recharge because different types of vegetation and land 
    uses have different rates of evapotranspiration. Irrigation of crops, parks, and golf courses can enhance recharge. In urban areas, leaking water mains and seepage from 
    septic systems can also contribute to recharge. 
  </p>
  <p>
    This website provides a baseline estimate of recharge representing recent conditions of precipitation (1978-2008 average) and land cover (2010). Users can change land cover 
    and rainfall conditions to evaluate the effects on groundwater recharge. Results will be displayed as on-screen maps, and users will be given options to generate interpretive 
    graphics or export results in various formats.
  </p>
  <p>
    Results from this website are based on soil water-balance models. The user is responsible for understanding the <a routerLink="/background">method and its limitations</a>. The user 
    is also responsible for the appropriate use of the web interface. 
  </p>
  <p>
    Go to the <a routerLink="/workspace">Workspace</a> to begin.
  </p>
</div>
