img {
  float: right;
  padding: 50px;
  max-width: 75%;
  width: 760px;
  height: auto;
}

.header {
  background: rgb(56, 117, 194);
  color: white;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  font-size: 20px;
}

.body {
  position: absolute;
  width: 90%;
  left: 5%;
}

.pad {
  padding-top: 10px;
  padding-bottom: 10px;
}

.buffer {
  padding-bottom: 20px;
}