.figure {
  float: right;
  margin: 50px;
  max-width: calc(75% - 100px);
  width: 760px;
  height: auto;
}

img {
  width: 100%;
  margin-bottom: 10px;
}

.caption {
  font-size: 14px;
  color: rgb(56, 117, 194);
  font-style: italic;
}

.header {
  background: rgb(56, 117, 194);
  color: white;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  font-size: 20px;
}

.body {
  position: absolute;
  width: 90%;
  left: 5%;
  padding-bottom: 100px;
}

.pad {
  padding-top: 10px;
  padding-bottom: 10px;
}

.buffer {
  padding-bottom: 20px;
}