<div class="buffer">
  <div class="header">
    <div class="pad">
      <h1>Exploring Groundwater Recharge on O&#699;ahu</h1>
      <h3>An interactive website created by the University of Hawai&#699;i and U.S. Geological Survey</h3>
    </div>
  </div>
</div>
  
<div class="body">
  <a href="../assets/homePicture.png"><img src="../assets/homePicture.png" alt="Recharge Diagram"></a>
  <p>
    The only source of freshwater to O&#699;ahu's aquifers is
    recharge. Accurate estimates of recharge are critical for
    groundwater-resource management and planning. This
    website allows users to evaluate the effects of land-
    cover and climate changes on groundwater recharge on
    O&#699;ahu.
  </p>
  <p>
    Recharge ultimately comes from precipitation. On O&#699;ahu,
    most precipitation is in the form of rain, with some
    contribution from fog. Only a fraction of the water from
    precipitation contributes to recharge; the remainder
    runs off to the ocean by way of streams, or returns to
    the atmosphere through evapotranspiration
    (evaporation and transpiration by plants).
  </p>
  <p>
    Changes in land cover can affect recharge because
    different types of vegetation and land use have different
    rates of evapotranspiration. Irrigation of crops, parks,
    and golf courses can enhance recharge. In urban areas,
    paved surfaces can reduce recharge whereas leaking
    water mains can increase recharge. Changes in precipitation caused by climate changes can also affect recharge rates.
  </p>
  <p>
    This website provides a baseline estimate of recharge representing recent conditions of precipitation (1997-2008 average) and land-use (2010).
    Users can change land cover and rainfall conditions to explore the effects on groundwater recharge. Results will be displayed as on-screen
    maps, and users will be given options to generate interpretive graphics or export results in various formats.
  </p>
  <p>
    Results from this website are based on soil water-balance models. The user is responsible for understanding the limitations of the method and
    the appropriate use of the web interface.
  </p>
  <p>
    Go to the <a routerLink="/workspace">Workspace</a> to begin.
  </p>
</div>
